{% extends 'index.html' %}

{% block head_title %}{{instance.title}}|{{block.super}}{% endblock head_title %}
{% block content %}
<h1>{{title}}</h1>
    
    <div>
        <p class='lead'>Comments</p>
        <div>
        {{comment.content}}
        <br/>
        from {{comment.name}} on {{comment.timestamp}}
       <br/>
       <hr/>

        {% for child_comment in comment.children %}
        <div>
            {{child_comment.content}}
            {{child_comment.timestamp}}
            <hr/>  
        </div>   
        {% endfor %}

            <form method='POST' action='.'>{%csrf_token%}
                {{form}}
                <input type='hidden' name='parent_id' value={{comment.id}}>
                <input type='submit' value='Reply'>
            </form>
        </div>
        <hr/>
        
    </div>

{% endblock content %}

